<% include ../include/header.ejs %>
<% include ../include/aside.ejs %>
<% include ../include/top_nav.ejs %>
<!-- page content -->
<div class="right_col" role="main" xmlns="http://www.w3.org/1999/html">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>New Order</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Please Step wise Follow the<small>Process</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- Smart Wizard -->
                            <form class="form-horizontal form-label-left" id="order_form" name="order_form" method="post">
                        <div id="wizard" class="form_wizard wizard_horizontal">

                            <ul class="wizard_steps">
                                <li>
                                    <a href="#step-1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                    Step 1<br />
                                    <small>Personal Details</small>
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                    Step 2<br />
                                    <small>Customer Measurements</small>
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <span class="step_no">3</span>
                                        <span class="step_descr">
                                    Step 3<br />
                                    <small>Save Order</small>
                                    </span>
                                    </a>
                                </li>

                            </ul>
                            <div id="step-1">

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="first_name" name="first_name" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="last_name" name="last_name" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Contact Number</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="contact_number" name="contact_number" class="form-control col-md-7 col-xs-12" type="text" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="address" class="form-control col-md-7 col-xs-12" type="text" name="address">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div id="gender" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                    <input type="radio" name="gender" id="gender" value=""> &nbsp; Male &nbsp;
                                                </label>
                                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                    <input type="radio" name="gender" id="gender" value=""> Female
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                            </div>
                            <div id="step-2">
                                <!--<form class="form-horizontal form-label-left">-->
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2 col-md-offset-1 " for="name">Cuff <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="cuff" name="cuff" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                    <label class="control-label col-md-2 " for="name">Collar <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="collar"  name="collar" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label class="control-label col-md-2 col-md-offset-1" for="name">Chest <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="chest" name="chest" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                    <label class="control-label col-md-2 " for="name">Waist  <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="waist" name="waist" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2 col-md-offset-1" for="name">Seat  <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="seat" name="seat" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                    <label class="control-label col-md-2 " for="name">Front width  <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="front_width" name="front_width" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2 col-md-offset-1 " for="name">Sleev width <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="sleev_width" name="sleev_width" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                    <label class="control-label col-md-2 " for="name">Short Sleev length <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="short_sleev_length" name="short_sleev_length" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2 col-md-offset-1 " for="name">Short Sleev Opening <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="short_sleev_opening" name="short_sleev_opening" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                    <label class="control-label col-md-2 " for="name">Biceps  <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="biceps" name="biceps" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2 col-md-offset-1 " for="name">Armhole  <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="armhole" name="armhole" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                    <label class="control-label col-md-2 " for="name">Shoulder  <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="shoulder" name="shoulder" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-2 col-md-offset-1 " for="name">Back width <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="back_width" name="back_width" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                    <label class="control-label col-md-2 " for="name">Shirt Length(front) <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="shirt_length_front" name="shirt_length_front" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="input-group col-md-12">
                                    <label class="control-label col-md-2 col-md-offset-1 " for="name">Shirt Length(Back)  <span class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" id="shirt_length_back" name="shirt_length_back" required="required"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                    <label class="control-label col-md-2 " for="name">Delivery Date <span class="required">*</span></label>
                                        <div class="input-group date datepicker col-md-2" id="datepicker">
                                            <input type="text" class="form-control" id="delivery_date" name="delivery_date" required="required" value="">
                                            <span class="input-group-addon">
                                           <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                        </div>


                                </div>

                            </div>


                            <div id="step-3">

                                <h4 style="text-align:center; padding:25px;"> Please Click the <strong style="color:#1ABB9C">Finish</strong> Button to complete the Order </h4>

                            </div>
                            </form>
                        </div>
                        <!-- End SmartWizard Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<%include ../include/footer.ejs %>