<% include ../include/header.ejs %>
<% include ../include/aside.ejs %>
<% include ../include/top_nav.ejs %>

<style>
    /* Latest compiled and minified CSS included as External Resource*/

    /* Optional theme */

    /*@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');*/
    body {
        margin-top:30px;
    }
    .stepwizard-step p {
        margin-top: 0px;
        color:#666;
    }
    .stepwizard-row {
        display: table-row;
    }
    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }
    .stepwizard-step button[disabled] {
        /*opacity: 1 !important;
        filter: alpha(opacity=100) !important;*/
    }
    .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
        opacity:1 !important;
        color:#bbb;
    }
    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content:" ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
    }
    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }
    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<!-- page content -->
<div class="right_col" role="main" xmlns="http://www.w3.org/1999/html">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>New Order</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Please Step wise Follow the<small>Process</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!--Wizard start-->
                        <div class="container">
                            <div class="stepwizard">
                                <div class="stepwizard-row setup-panel">
                                    <div class="stepwizard-step col-xs-3">
                                        <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                                        <p><small>Personal Details</small></p>
                                    </div>
                                    <div class="stepwizard-step col-xs-3">
                                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                        <p><small>Measurements</small></p>
                                    </div>
                                    <div class="stepwizard-step col-xs-3">
                                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                        <p><small>Completed</small></p>
                                    </div>
                                </div>
                            </div>


                            <% if(order_id===''){ %>
                                <!--Add order form-->
                            <form role="form" id="order_form" name="order_form" method="post" action="/save_order">
                                <div class="panel panel-primary setup-content" id="step-1">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Personal Details</h3>
                                    </div>
                                    <div class="panel-body ">
                                        <div class="col-md-6 col-md-offset-3">
                                            <div class="form-group">
                                                <label class="control-label">First Name</label>
                                                <input  type="text" required="required"  name="first_name" class="form-control" placeholder="Enter First Name"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Last Name</label>
                                                <input type="text" required="required" name="last_name" class="form-control" placeholder="Enter Last Name" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Personal Email</label>
                                                <input  type="email" name="email" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Contact Number</label>
                                                <input  type="number" required="required" name="contact_number"  class="form-control" placeholder="0333-123343434" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Postal Address</label>

                                                <textarea class="form-control" name="address"  required="required"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label"> Gender :</label>

                                                <div class="btn-group btn-toggle gender" required="required">
                                                    Male<input type="radio" name="gender" class="btn btn-primary active " value="male">
                                                    <br>
                                                    Female<input type="radio" name="gender" class="btn btn-default" value="female">
                                                </div>
                                            </div>


                                            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-primary setup-content" id="step-2">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Measurements</h3>
                                    </div>
                                    <div class="panel-body">

                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2  ">Cuff</label>
                                            <div class="col-md-4">
                                                <input  type="number" id="cuff" name="cuff" required="required" class="form-control" placeholder="Enter First Name" />
                                            </div>
                                            <label class="control-label col-md-2 ">Collar</label>
                                            <div class="col-md-4">
                                                <input type="number"  id="collar"  name="collar" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>

                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2 ">Chest</label>
                                            <div class="col-md-4">
                                                <input type="number" id="chest" name="chest" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>
                                            <label class="control-label col-md-2  ">Waist</label>
                                            <div class="col-md-4">
                                                <input  type="number" id="waist" name="waist" required="required" class="form-control" placeholder="Enter First Name" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2 ">Seat</label>
                                            <div class="col-md-4">
                                                <input type="number" id="seat" name="seat" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>
                                            <label class="control-label col-md-2 ">Front width</label>
                                            <div class="col-md-4">
                                                <input type="number" id="front_width" name="front_width" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2  ">Sleev width</label>
                                            <div class="col-md-4">
                                                <input  type="number" id="sleev_width" name="sleev_width" required="required" class="form-control" placeholder="Enter First Name" />
                                            </div>
                                            <label class="control-label col-md-2 ">Short Sleev length </label>
                                            <div class="col-md-4">
                                                <input type="number" id="short_sleev_length" name="short_sleev_length" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>

                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2 ">Short Sleev Opening</label>
                                            <div class="col-md-4">
                                                <input type="number" id="short_sleev_opening" name="short_sleev_opening" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>
                                            <label class="control-label col-md-2  ">Biceps</label>
                                            <div class="col-md-4">
                                                <input  type="number" id="biceps" name="biceps" required="required" class="form-control" placeholder="Enter First Name" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2 ">Armhole </label>
                                            <div class="col-md-4">
                                                <input type="number" id="armhole" name="armhole" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>
                                            <label class="control-label col-md-2 ">Shoulder</label>
                                            <div class="col-md-4">
                                                <input type="number" id="shoulder" name="shoulder" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2  ">Back width</label>
                                            <div class="col-md-4">
                                                <input  type="number" id="back_width" name="back_width" required="required" class="form-control" placeholder="Enter First Name" />
                                            </div>

                                            <label class="control-label col-md-2 ">Shirt Length(front)  </label>
                                            <div class="col-md-4">
                                                <input type="number" id="shirt_length_front" name="shirt_length_front" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2 ">Shirt Length(Back)</label>
                                            <div class="col-md-4">
                                                <input type="number" id="shirt_length_back" name="shirt_length_back" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>

                                            <label class="control-label col-md-2 ">Delivery Date &nbsp;</label>
                                            <div class="input-group date datepicker col-md-3" id="datepicker">
                                                <input type="text" class="form-control" id="delivery_date" name="delivery_date" required="required" placeholder="mm-dd-yy">
                                                <span class="input-group-addon">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            </div>

                                        </div>


                                        <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                    </div>
                                </div>

                                <div class="panel panel-primary setup-content" id="step-3">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Completed</h3>
                                    </div>
                                    <div class="panel-body">

                                        <h4 align="center">Are you sure you want to save the order!</h4>
                                        <center><button class="btn btn-success" type="submit">Finish!</button></center>
                                    </div>
                                </div>

                            </form>
                                <!--Add order form-->
                            <%} else{%>
                          <!--Edit order form-->
                                <% order_data.forEach(function (data) {%>

                            <form role="form" id="order_form" name="order_form" method="post" action="/update_order/<%=order_id%>">
                                <div class="panel panel-primary setup-content" id="step-1">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Personal Details</h3>
                                    </div>
                                    <div class="panel-body ">
                                        <div class="col-md-6 col-md-offset-3">
                                            <div class="form-group">
                                                <label class="control-label">First Name</label>
                                                <input  type="text" required="required"  name="fname" class="form-control"  value="<%=order_id !=='' ?data.fname:''%>"/>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Personal Email</label>
                                                <input  type="email" name="email" required="required" class="form-control" value="<%=order_id !=='' ?data.email:''%>" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Contact Number</label>
                                                <input  type="number" required="required" name="contact_number"  class="form-control" value="<%=order_id !=='' ?data.contact:''%>" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Postal Address</label>

                                                <textarea class="form-control" name="address"  required="required"><%=order_id !=='' ?data.address:''%></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label"> Gender :</label>

                                                <div class="btn-group btn-toggle gender" required="required">

                                                    Male<input type="radio" name="gender" class="btn btn-primary active " <%=data.gender==='male' ?'checked':''%> value="male">

                                                    <br>
                                                    Female<input type="radio" name="gender" class="btn btn-default" <%=data.gender==='female' ?'checked':''%> value="female">
                                                </div>
                                            </div>


                                            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-primary setup-content" id="step-2">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Measurements</h3>
                                    </div>
                                    <div class="panel-body">

                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2  ">Cuff</label>
                                            <div class="col-md-4">
                                                <input  type="number" id="cuff" name="cuff" required="required" class="form-control" value="<%=order_id !=='' ?data.cuff:''%>" />
                                            </div>
                                            <label class="control-label col-md-2 ">Collar</label>
                                            <div class="col-md-4">
                                                <input type="number"  id="collar"  name="collar" required="required" class="form-control" value="<%=order_id !=='' ?data.collar:''%>" />
                                            </div>

                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2 ">Chest</label>
                                            <div class="col-md-4">
                                                <input type="number" id="chest" name="chest" required="required" class="form-control" value="<%=order_id !=='' ?data.chest:''%>"/>
                                            </div>
                                            <label class="control-label col-md-2  ">Waist</label>
                                            <div class="col-md-4">
                                                <input  type="number" id="waist" name="waist" required="required" class="form-control" value="<%=order_id !=='' ?data.waist:''%>" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2 ">Seat</label>
                                            <div class="col-md-4">
                                                <input type="number" id="seat" name="seat" required="required" class="form-control" value="<%=order_id !=='' ?data.seat:''%>" />
                                            </div>
                                            <label class="control-label col-md-2 ">Front width</label>
                                            <div class="col-md-4">
                                                <input type="number" id="front_width" name="front_width" required="required" class="form-control" value="<%=order_id !=='' ?data.front_width:''%>" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2  ">Sleev width</label>
                                            <div class="col-md-4">
                                                <input  type="number" id="sleev_width" name="sleev_width" required="required" class="form-control" value="<%=order_id !=='' ?data.sleev_width:''%>" />
                                            </div>
                                            <label class="control-label col-md-2 ">Short Sleev length </label>
                                            <div class="col-md-4">
                                                <input type="number" id="short_sleev_length" name="short_sleev_length" required="required" class="form-control" value="<%=order_id !=='' ?data.short_sleev_length:''%>" />
                                            </div>

                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2 ">Short Sleev Opening</label>
                                            <div class="col-md-4">
                                                <input type="number" id="short_sleev_opening" name="short_sleev_opening" required="required" class="form-control" value="<%=order_id !=='' ?data.short_sleev_opening:''%>" />
                                            </div>
                                            <label class="control-label col-md-2  ">Biceps</label>
                                            <div class="col-md-4">
                                                <input  type="number" id="biceps" name="biceps" required="required" class="form-control" value="<%=order_id !=='' ?data.biceps:''%>" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2 ">Armhole </label>
                                            <div class="col-md-4">
                                                <input type="number" id="armhole" name="armhole" required="required" class="form-control" value="<%=order_id !=='' ?data.armhole:''%>" />
                                            </div>
                                            <label class="control-label col-md-2 ">Shoulder</label>
                                            <div class="col-md-4">
                                                <input type="number" id="shoulder" name="shoulder" required="required" class="form-control" value="<%=order_id !=='' ?data.shoulder:''%>" />
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2  ">Back width</label>
                                            <div class="col-md-4">
                                                <input  type="number" id="back_width" name="back_width" required="required" class="form-control" value="<%=order_id !=='' ?data.back_width:''%>" />
                                            </div>

                                            <label class="control-label col-md-2 ">Shirt Length(front)  </label>
                                            <div class="col-md-4">
                                                <input type="number" id="shirt_length_front" name="shirt_length_front" required="required" class="form-control" value="<%=order_id !=='' ?data.shirt_length_front:''%>" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2 ">Shirt Length(Back)</label>
                                            <div class="col-md-4">
                                                <input type="number" id="shirt_length_back" name="shirt_length_back" required="required" class="form-control" value="<%=order_id !=='' ?data.shirt_length_back:''%>" />
                                            </div>

                                            <label class="control-label col-md-2 ">Delivery Date &nbsp;</label>
                                            <div class="input-group date datepicker col-md-3" id="datepicker">
                                                <input type="text" class="form-control" id="delivery_date" name="delivery_date" required="required" value="<%=order_id !=='' ?data.delivery_date:''%>">
                                                <span class="input-group-addon">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            </div>

                                        </div>


                                        <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                    </div>
                                </div>

                                <div class="panel panel-primary setup-content" id="step-3">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Completed</h3>
                                    </div>
                                    <div class="panel-body">

                                        <h4 align="center">Are you sure you want to save the order!</h4>
                                        <center><button class="btn btn-success" type="submit">Finish & Update!</button></center>
                                    </div>
                                </div>

                            </form>
                            <!--Edit order form-->
                            <%});
                            }%>
                        </div>
                        <!--Wizard start-->
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /page content -->

<%include ../include/footer.ejs %>

<script type="text/javascript">
    $(document).ready(function () {

        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-success').addClass('btn-default');
                $item.addClass('btn-success');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url'],input[type='email'],input[type='number'],textarea[type='text']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-success').trigger('click');
    });
</script>
<script>
    $('.gender').click(function() {
        $(this).find('.btn').toggleClass('active');
        if ($(this).find('.btn-primary').length>0) {
            $(this).find('.btn').toggleClass('btn-primary');
        }
        $(this).find('.btn').toggleClass('btn-default');
    });
</script>