<% include ../include/header %>
<% include ../include/aside %>

<% include ../include/top_nav %>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon" style="color:#76bb76"><i class="fa fa-check-square-o"></i></div>
                            <% orders_count.forEach(function (count) {%>


                            <div class="count"><%=count.ordersCount%></div>
                            <%});%>
                            <h3>Total Orders</h3>
                        </div>
                    </div>

                    <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon" style="color:#2675b9"><i style="font-size:30px;" class="fa fa-hourglass"></i></div>
                            <% pendingOrders.forEach(function (count) {%>
                            <div class="count" style="color:#2675b9"><%=count.pendingOrders%></div>
                            <%});%>

                            <h4>Pending Orders</h4>

                        </div>
                    </div>

                    <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon" style="color:orange"><i  style="font-size:30px;" class="fa fa-spinner"></i></div>
                            <%processOrders.forEach(function (count) {%>
                            <div class="count" style="color:#ffa500"><%=count.processOrders%></div>
                            <%});%>
                            <h4>In Process Orders</h4>

                        </div>
                    </div>
                    <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon" style="color:#76bb76;"><i style="font-size:30px;" class="fa fa-check-circle"></i></div>
                            <%deliveredOrders.forEach(function (count) {%>
                            <div class="count" style="color:#76bb76"><%=count.deliveredOrders%></div>
                            <%});%>
                            <h4>Deliverd Orders</h4>

                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon" style="color:#bb5a5a;"><i class="fa fa-ban"></i></div>
                            <% rejectedOrders.forEach(function(count){%>
                            <div class="count" style="color:#bb5a5a"><%=count.rejectedOrders%></div>
                            <%});%>
                            <h3>Rejected Orders</h3>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Recent <small>Orders</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                  <%pendingOrdersData.forEach(function (data) {%>
                                <% if(data.delivery_date !=='0000-00-00'){%>
                                <article class="media event">
                                    <a class="pull-left date" style="background-color:#2675b9">

                                        <p class="month">

                                            <%=data.delivery_date.toLocaleString('en-us', { month: 'short' })%></p>
                                        <p class="day"><%=data.delivery_date.toLocaleString('en-us', { day: 'numeric' }) %></p>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#"><%=data.fname%></a>
                                        <p><%=data.address%></p>
                                    </div>
                                </article>
                                <%}else{%>

                                    <article class="media event">
                                        <a class="pull-left date" style="width: 71px !important;background-color:#2675b9">

                                            <p class="month">Month
                                            </p>
                                            <p class="day">Day</p>
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="#"><%=data.fname%></a>
                                            <p><%=data.address%></p>
                                        </div>
                                    </article>
                                <% }}) %>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>In Process<small>Orders</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <%processOrdersData.forEach(function (data) {%>
                                    <% if(data.delivery_date !=='0000-00-00'){%>
                                <article class="media event">
                                    <a class="pull-left date" style="background-color:#ffa500">

                                        <p class="month"><%=data.delivery_date.toLocaleString('en-us', { month: 'short' })%></p>
                                        <p class="day"><%=data.delivery_date.toLocaleString('en-us', { day: 'numeric' }) %></p>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#"><%=data.fname%></a>
                                        <p><%=data.address%></p>
                                    </div>
                                </article>
                                    <%}else{%>
                                    <article class="media event">
                                        <a class="pull-left date" style="width: 71px !important;background-color:#ffa500">

                                            <p class="month">Month
                                            </p>
                                            <p class="day">Day</p>
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="#"><%=data.fname%></a>
                                            <p><%=data.address%></p>
                                        </div>
                                    </article>
                                <% }}) %>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Deliverd<small>Orders List</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <%deliveredOrdersData.forEach(function (data) {%>
                                    <% if(data.delivery_date !=='0000-00-00'){%>
                                <article class="media event">
                                    <a class="pull-left date" style="background-color:#76bb76">

                                        <p class="month"><%=data.delivery_date.toLocaleString('en-us', { month: 'short' })%></p>
                                        <p class="day"><%=data.delivery_date.toLocaleString('en-us', { day: 'numeric' }) %></p>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#"><%=data.fname%></a>
                                        <p><%=data.address%></p>
                                    </div>
                                </article>
                                    <%}else{%>
                                    <article class="media event">
                                        <a class="pull-left date" style="width: 71px !important;background-color:#76bb76">

                                            <p class="month">Month
                                            </p>
                                            <p class="day">Day</p>
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="#"><%=data.fname%></a>
                                            <p><%=data.address%></p>
                                        </div>
                                    </article>
                                <% }}) %>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Rejected<small>Orders List</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <%rejectedOrdersData.forEach(function (data) {%>
                                    <% if(data.delivery_date !=='0000-00-00'){%>
                                <article class="media event">
                                    <a class="pull-left date" style="background-color:#bb5a5a">

                                        <p class="month"><%=data.delivery_date.toLocaleString('en-us', { month: 'short' })%></p>
                                        <p class="day"><%=data.delivery_date.toLocaleString('en-us', { day: 'numeric' }) %></p>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#"><%=data.fname%></a>
                                        <p><%=data.address%></p>
                                    </div>
                                </article>
                                    <%}else{%>
                                    <article class="media event">
                                        <a class="pull-left date" style="width: 71px !important;background-color:#bb5a5a">

                                            <p class="month">Month
                                            </p>
                                            <p class="day">Day</p>
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="#"><%=data.fname%></a>
                                            <p><%=data.address%></p>
                                        </div>
                                    </article>
                                <% }}) %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
<% include ../include/footer.ejs %>