<% include ../include/header.ejs %>
<% include ../include/aside.ejs %>
<% include ../include/top_nav.ejs %>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Orders</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <a href="/add_order" class="btn btn-round btn-success">Add</a>
                            <!-- <a type="button" class="btn btn-round btn-danger btn-del-data">Delete Selected</a> -->
                            <!-- <a href="#" class="btn btn-round btn-warning">Extract All orders</a> -->
                        </h2>
                        <%if(successMessage!=''){%>
                        <div class="alert-success">
                            <%=successMessage%>
                        </div>
                            <%}else{}%>

                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content bs-example-popovers">
                    </div>
                    <div class="x_content">
                        <form name="del-title" id="del-title" action="delete_bulk/" method="post">
                            <div class="table-responsive">
                                <table id="datatable-checkbox" class="table jambo_table table-striped bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">Id </th>
                                        <th class="column-title">Full Name </th>
                                        <th class="column-title">Address </th>
                                        <th class="column-title">Contact No</th>
                                        <th class="column-title">Order placed date</th>
                                        <th class="column-title">Delivery Date</th>
                                        <th class="column-title">Delivery Status</th>
                                        <th class="column-title">Change Status</th>
                                        <th class="column-title no-link last"><span class="nobr">Action</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    <% data.forEach(function (orders_data){%>
                                        

                                    <tr class=" pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records[]" value="552">
                                        </td>
                                        <td class=" "><a href=""><%=orders_data.order_id%></a></td>
                                        <td class=" "><a href=""><%=orders_data.fname%></a></td>
                                        <td class=" "><a href=""><%=orders_data.address%></a></td>
                                        <td class=" "><a href=""><%=orders_data.contact%></a></td>
                                        <td class=" "><%=orders_data.order_placed_date.toLocaleString('en-us', {day:'numeric',month: 'short',year:'numeric'})%></td>
                                        <td class=" "><%=orders_data.delivery_date.toLocaleString('en-us', { day:'numeric',month: 'short',year:'numeric' })%></td>
                                        <td>
                                            <% if ((orders_data['order_status'])=='pending'){%>
                                            <small style="background-color:#2675b9; padding:5px; color:white;">Pending </small>
                                            <%}%>
                                            <% if ((orders_data['order_status'])=='process'){%>
                                                <small style="background-color:#d28f14; padding:5px; color:white;">Process </small>
                                            <%}%>
                                            <% if ((orders_data['order_status'])=='delivered'){%>
                                                <small style="background-color:#398e39; padding:5px; color:white;">Delivered </small>
                                            <%}%>
                                            <% if ((orders_data['order_status'])=='rejected'){%>
                                                <small style="background-color:red; padding:5px; color:white;">Rejected </small>
                                            <%}%>
                                        </td>
                                        <td>
                                            <a href="/changeTopending/<%=orders_data.order_id%>" data-toggle="tooltip" title="Change to pending!"><i style="color:#2675b9" class="fa fa-clock-o" aria-hidden="true"></i></a>&nbsp;&nbsp; |&nbsp;

                                            <a href="/changeToProcess/<%=orders_data.order_id%>" data-toggle="tooltip" title="Change to Inprocess!"><i style="color:orange" class="fa fa-spinner"></i></a>

                                            &nbsp;&nbsp;|&nbsp;<a href="/changeToDeliverd/<%=orders_data.order_id%>" data-toggle="tooltip" title="Change to Deliverd!"><i style="color:#398e39" class="fa fa-check-circle"></i></a>

                                            &nbsp;&nbsp; |&nbsp;<a href="/changeToRejected/<%=orders_data.order_id%>" data-toggle="tooltip" title="Order Rejected!"><i style="color:red" class="fa fa-ban"> </i></a>

                                        </td>

                                        </td>
                                        <td class=" last"> <a href="/edit_order/<%=orders_data.order_id%>"> <i class="fa fa-pencil"></i></a>&nbsp;&nbsp; <a href="/delete_order/<%=orders_data.order_id%>"><i class="fa fa-trash-o"></i></i></a>  &nbsp;</td>
                                    </tr>
                                    <% });%>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Generic Modal -->
<% include ../include/footer %>