<% include ../include/header.ejs %>
<% include ../include/aside.ejs %>
<% include ../include/top_nav.ejs %>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Track Orders</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
            <div class="form-group">
                <form >
                    <input type="text" id="track_order" name="track_order" placeholder=" Track order By ID/Name" class="form-control">
                    <br>

                    <center><button  class="btn btn-success" type="button" onclick="track_order_ajax()" >Track Order</button></center>
                   <br> <div id="result_div">

                    </div>
                </form>
            </div>
        </div>
            <div class="col-md-12 col-sm-12 col-xs-12" id="resultand_table" style="display: none;">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>



                            <!-- <a type="button" class="btn btn-round btn-danger btn-del-data">Delete Selected</a> -->
                            <!-- <a href="#" class="btn btn-round btn-warning">Extract All orders</a> -->
                        </h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content bs-example-popovers">
                    </div>
                    <div class="x_content">
                        <form name="del-title" id="del-title" action="delete_bulk/" method="post">
                            <div class="table-responsive">
                                <table id="datatable-checkbox" class="table jambo_table table-striped bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">Id </th>
                                        <th class="column-title">Full Name </th>
                                        <th class="column-title">Address </th>
                                        <th class="column-title">Contact No</th>
                                        <th class="column-title">Order placed date</th>
                                        <th class="column-title">Delivery Date</th>
                                        <th class="column-title">Delivery Status</th>
                                        <th class="column-title">Change Status</th>
                                        <th class="column-title no-link last"><span class="nobr">Action</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody id="order_response_data">

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Generic Modal -->
<% include ../include/footer %>

<script type="text/javascript">

        function track_order_ajax(){
            var trackOrder = $('#track_order').val();
            $('#resultand_table').hide();
            if (trackOrder!==''){
               $('#result_div').html("<div id='preloader_img' style='text-align: center;'><img src='images/preloader.gif'> </div>");
                $.ajax({
                    type:'POST',
                    url:'/track_order',
                    dataType:'json',
                    data:{response_data:trackOrder},
                    success:function (response_data) {
                        $('#preloader_img').hide();
                        $('#result_div').show();

                        $('#resultand_table').show();
                        // alert(response_data[0].fname);


                        $('#order_response_data').html("                 <tr class=\" pointer\">\n" +
                            "                                        <td class=\"a-center \">\n" +
                            "                                            <input type=\"checkbox\" class=\"flat\" name=\"table_records[]\" value=\"552\">\n" +
                            "                                        </td>\n" +
                            "                                        <td class=\" \"><a href=\"\">"+response_data[0].order_id+"</a></td>\n" +
                            "                                        <td class=\" \"><a href=\"\">"+response_data[0].fname+"</a></td>\n" +
                            "                                        <td class=\" \"><a href=\"\">"+response_data[0].address+"</a></td>\n" +
                            "                                        <td class=\" \"><a href=\"\">"+response_data[0].contact+"</a></td>\n" +
                            "                                        <td class=\" \">"+response_data[0].order_placed_date+"</td>\n" +
                            "                                        <td class=\" \">"+response_data[0].delivery_date+"</td>\n" +
                            "                                        <td>\n" +
                            "                                        </td>\n" +
                            "                                        <td>\n" +
                            "                                            <a href=\"/changeTopending/\" data-toggle=\"tooltip\" title=\"Change to pending!\"><i style=\"color:#2675b9\" class=\"fa fa-clock-o\" aria-hidden=\"true\"></i></a>&nbsp;&nbsp; |&nbsp;\n" +
                            "                                            <a href=\"/changeToProcess/\" data-toggle=\"tooltip\" title=\"Change to Inprocess!\"><i style=\"color:orange\" class=\"fa fa-spinner\"></i></a>\n" +
                            "                                            &nbsp;&nbsp;|&nbsp;<a href=\"/changeToDeliverd/\" data-toggle=\"tooltip\" title=\"Change to Deliverd!\"><i style=\"color:#398e39\" class=\"fa fa-check-circle\"></i></a>\n" +
                            "                                            &nbsp;&nbsp; |&nbsp;<a href=\"/changeToRejected/\" data-toggle=\"tooltip\" title=\"Order Rejected!\"><i style=\"color:red\" class=\"fa fa-ban\"> </i></a>\n" +
                            "                                        </td>\n" +
                            "                                        </td>\n" +
                            "                                        <td class=\" last\"> <a href=/edit_order/"+response_data[0].order_id+"> <i class=\"fa fa-pencil\"></i></a>&nbsp;&nbsp; <a href=/delete_order/"+response_data[0].order_id+"><i class=\"fa fa-trash-o\"></i></i></a>  &nbsp;</td>\n" +
                            "                                    </tr>\n");
                    },
                    errors:function () {

                    }
                });

            } else {
                alert('Please enter Order name or order id');
            }

        }


</script>


