<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Smart Tailor Shope </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <a href="/login"><h1><i class="fa fa-paw fa-2x"></i> Smart Tailor Shope -Aamir</h1></a>
            <section class="login_content">
                <form action="/login" method="post">

                    <h1><%=title %></h1>

                    <div>
                        <input type="text" name="username" class="form-control" placeholder="Username" required="">
                    </div>
                    <div>
                        <input type="password" name="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div>
                        <button class="btn btn-default submit">Log in</button>
                        <a class="reset_pass" href="#">Lost your password?</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">New to site?
                            <a href="/signup" class="to_register"> Create Account </a>
                        </p>

                        <div class="clearfix"></div>
                        <br>

                        <div>
                            <!--<h1><i class="fa fa-paw"></i> Smart Tailor Shope</h1>-->
                            <p>©2016 All Rights Reserved. Smart Tailor Shope!.<br> Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>


</body></html>