<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Smart Tailor Shope </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <a href="/login"><h1><i class="fa fa-paw fa-2x"></i> Smart Tailor Shope</h1></a>
            <section class="login_content">
                <form action="/signup" method="post">

                    <h1><%=title %></h1>

                    <% for(var i = 0; i < errors.length; ++i) {%>
                    <div class="alert alert-danger" role="alert">

                        <%=errors[i].msg%>
                    </div>
                    <% } %>

                   <%if(success !=''){%>
                    <div class="alert alert-success" role="alert">

                        <%=success%>
                    </div>
                    <% } %>

                    <div>
                        <input type="text" name="name" class="form-control" placeholder="Name" required="">
                    </div>
                    <div>
                        <input type="email" name="email" class="form-control" placeholder="Email" required="">
                    </div>
                    <div>
                        <input type="text" name="username" class="form-control" placeholder="Username" required="">
                    </div>
                    <div>
                        <input type="password" name="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div>
                        <input type="password" name="Confirmpassword" class="form-control" placeholder="Confirm Password" required="">
                    </div>
                    <div>
                        <button class="btn btn-default submit">Signup</button>

                    </div>
                    <a class="reset_pass" href="/login">Already have Account <strong>login </strong> here</a>
                    <div class="clearfix"></div>

                    <div class="separator">
                        <!--<p class="change_link">New to site?-->
                            <!--<a href="#signup" class="to_register"> Create Account </a>-->
                        <!--</p>-->

                        <div class="clearfix"></div>
                        <br>

                        <div>
                            <!--<h1><i class="fa fa-paw"></i> Smart Tailor Shope</h1>-->
                            <p>©2016 All Rights Reserved. Smart Tailor Shope!.<br> Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <div id="register" class="animate form registration_form">
            <section class="login_content">
                <form>
                    <h1>Create Account</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="">
                    </div>
                    <div>
                        <input type="email" class="form-control" placeholder="Email" required="">
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="">Submit</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a href="#signin" class="to_register"> Log in </a>
                        </p>

                        <div class="clearfix"></div>
                        <br>

                        <div>
                            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


</body></html>