
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <!-- <h3>General</h3> -->
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/dashboard">Dashboard</a></li>

                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Orders <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/orders">Order List</a></li>
                    <li><a href="/track_order">Track Order</a></li>
                </ul>
            </li>

        </ul>
    </div>


</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
    <!-- <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a> -->

    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>
<!-- /menu footer buttons -->
</div>
</div>